
<!--
   body  {font-size:10pt}
   table {font-size:10pt}
   .cand {font-size:13pt}
   .cand_f_title {font-size:20pt;font-weight:900}
   .cand_f {font-size:32pt;font-weight:900}
   .cand_f_detail {font-size:26pt;font-weight:900;FONT-FAMILY: "Times New Roman", "Times", "serif"}
   .cand_f_detail_analysis {font-size:20pt;font-color:#000000;font-weight:900;FONT-FAMILY: "Times New Roman", "Times", "serif"}
   a {  font-family: ""; font-size:10 pt;color: #009380 }
   a:hover {  font-family: ""; font-size:10 pt;color: #E87B14;text-decoration: underline}
   a:visited {font-family: ·s²Ó©úÅé}
   a {text-decoration: none}
   .disp_cand_blue {FONT-SIZE: 20px; font-weight:900; width: 200px; color:blue; letter-spacing:20pt}
   .disp_cand_green{FONT-SIZE: 20px; font-weight:900; width: 200px; color:green}
   .disp_cand_red  {FONT-SIZE: 20px; font-weight:900; width: 200px; color:red; letter-spacing:20pt}
   .disp_cand_orange{FONT-SIZE: 20px; font-weight:900; width: 200px; color:#E87B14}
   .disp_cand_white{FONT-SIZE: 20px; width: 60px; color:white; background:#009380}
   .btnsytle{    FONT-SIZE: 11px;    HEIGHT: 16px}
   .btnstyle2{
    PADDING-LEFT: 2px;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: "Times New Roman", "Times", "serif";
    HEIGHT: 20px;
    BACKGROUND-COLOR: #660000}

   .head {background:#FF7800;text-align:center;}
   .l0 {background:lightblue;text-align:left;}
   .l1 {background:#FF9600;text-align:left;}
   .l2 {background:#FFB400;text-align:left;}
   .l3 {background:#FFD200;text-align:left;}
   .c1 {background:#FFFFD2;text-align:left;}
   .r1 {background:#FF9600;text-align:left;}
   .r2 {background:#FFB400;text-align:left;}
   .r3 {background:#FFD200;text-align:left;}
   #blue {color:772b1a;text-decoration: underline}
   #normal {color:0000ff;text-decoration: none}
-->
